// Colores Principales
$rosa-principal: #d63384;
$rosa-medio: rgba(240, 98 , 146, 0.5);
$bordo-oscuro: #800020;
$beige-fondo: #f5f5dc;
$blanco: #ffffff;
$negro-suave: #333333;
$negro: #000000;

// Tipografías
$font-titulos: 'Playfair Display', Serif;
$font-cuerpo: 'Poppins', Sans-Serif;